main {
   background-color: var(--cor-fundo);
   padding: 2rem 0;
}

.boxButtonMaisDestinos {
   display: flex;
   justify-content: center;
   margin-top: 2rem;
}

.buttonMaisDestinos {
   background-color: var(--cor-principal-destaque);
   border: 2px solid var(--cor-principal-destaque);
   color: var(--cor-secundario);
}

.buttonMaisDestinos:hover {
   background-color: var(--cor-principal);
   border: 2px solid var(--cor-principal);
   color: var(--cor-secundario);
}

.btn-outline-primary,
.btn-primary {
   --bs-btn-active-color: var(--cor-secundario);
   --bs-btn-active-bg: var(--cor-principal-destaque);
   --bs-btn-active-border-color: var(--cor-secundario);
}