@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');

.navbar {
   background-color: var(--cor-principal) !important;
   position: fixed;
   width: 100%;
   z-index: 1;
}

.navbarBrand {
   align-items: center;
   display: flex;
   font-family: 'Yellowtail', cursive;
   color: var(--cor-secundario);
   font-size: 2rem;
}

.navbarBrand:hover {
   color: var(--cor-secundario);
}

img {
   margin-right: 1rem;
}

.toggle {
   border: 2px solid;
}

.offcanvas {
   background-color: var(--cor-fundo);
   --bs-offcanvas-width: auto;
}

.containerButtons {
   align-items: center;
   display: flex;
   flex-direction: column;
}

.buttons {
   align-items: center;
   background-color: var(--cor-principal);
   border: 2px solid var(--cor-principal);
   color: var(--cor-secundario);
   display: flex;
   font-weight: 500;
   height: 3em;
   margin-bottom: 1rem;
   width: 100%;
}

.buttons:hover {
   background-color: var(--cor-principal-destaque);
   border: 2px solid var(--cor-principal-destaque);
   color: var(--cor-secundario);
}

.iconsMenu {
   margin-right: 1rem;
}